/* src/components/Home.css */
.home-container {
  text-align: center;
  margin-top: 50px;
}

.home-container h1 {
  font-size: 36px;
  color: #333;
}

.home-container p {
  font-size: 18px;
  color: #555;
}

.start-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ffcc00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.start-button:hover {
  background-color: #ffdb4d;
}
