/* src/components/UserSelection.css */
.user-selection-container {
  text-align: center;
  margin-top: 30px;
}

.role-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.role-buttons button {
  padding: 20px;
  font-size: 18px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #fff;
  cursor: pointer;
}

.role-buttons button.selected {
  background-color: #00cc66;
  color: #fff;
}

.child-age-input {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
}

.child-age-input label {
  font-size: 18px;
  color: #555;
}

.child-age-input input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.next-button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #00cc66;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #00e673;
}
